body {
  font-family: sans-serif;
  font-size  : 10px;
  cursor     : default;
}

body, .tsm_agent_wrapper, .tsm_build_wrapper {
  color           : white;
  width           : 100%;
  background-color: black;
  margin          : 0;
  padding         : 0;
}

.tsm_agent_wrapper {
  display         : flex;
  flex-direction  : row;  
}

.tsm_build_wrapper {
  display         : flex;
  height: 70%;
  flex-direction  : column;  
}
/*
     Background divs
*/
.tsm_green, .tsm_red, .tsm_orange, .tsm_gray {
  flex         : 1;
  box-sizing   : border-box;
  padding      : 10px;
  margin       : 16px 8px;
  font-weight  : 300;
  position     : relative;
  border-radius: 10px;  
}
.tsm_box:first-of-type { margin-left: 16px; }
.tsm_box:last-of-type  { margin-right: 16px; }

.tsm_green {
  background-color: #4cab4c;
}

.tsm_red {
  background-color: #c0392b;
}

.tsm_orange {
  background-color: #e67e22;
}

.tsm_gray {
  background-color: gray;
}

/*
     Text divs
*/

.tsm_topRight, .tsm_topLeft, .tsm_bottomLeft {
  margin     : 0.1rem;
}

.tsm_topRight {
  font-size  : 1.5rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  float      : right;
  text-align : right;
  display    : block;
}

.tsm_topLeft {
  font-size  : 2.5rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  float      : left;
}

.tsm_bottomLeft {
  font-size: 3.0rem;
  float    : left;
  opacity  : 0.3;
  position : absolute;
  bottom   : 0;
}

.tsm_centre {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size  : 3.5rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}