html, body, .tsm_agent_wrapper, .tsm_build_wrapper {
  font-size       : 10px;
  background-color: black;
  font-family     : sans-serif;
  color           : white;
  width           : 100%;
  margin          : 0;
  padding         : 0;
}

body {
  display       : flex;
  flex-direction: column;
}

.tsm_whiteout {
  z-index         : 999;
  background-color: rgba(255,255,255,.5);
  position        :absolute;
  top             : 0;
  left            : 0;
  height          : 100%;
  width           : 100%;
}

.tsm_bigAlert {
  text-align      : center;
  color           : white;
  z-index         : 9999;
  font-size       : 3rem;
  padding         : 1.2rem;
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translateY(-50%) translateX(-50%);
  background-color: #c0392b;
  border          : 6px solid red;
  border-radius   : 3rem;
}

.tsm_agent_wrapper {
  display       : flex;
  flex-grow     : 0.15;
  height        : 15%;
  flex-direction: row;  
}

.tsm_build_wrapper {
  display       : flex;
  flex-grow     : 0.85;
  height        : 85%;
  flex-direction: column;  
}
/*
     Background divs
*/
.tsm_green, .tsm_red, .tsm_orange, .tsm_gray {
  box-sizing   : border-box;
  padding      : 10px;
  margin       : 12px 12px;
  font-weight  : 300;
  position     : relative;
  border-radius: 10px;  
}
.tsm_green, .tsm_red, .tsm_orange, .tsm_gray {
  flex: 1;
}

.tsm_green {
  background-color: #4cab4c;
}

.tsm_red {
  background-color: #c0392b;
}

.tsm_orange {
  background-color: #e67e22;
}

.tsm_gray {
  background-color: gray;
}

/*
     Text divs
*/

.tsm_success_msg, .tsm_success_time {
  text-align: center;
}

.tsm_success_msg {
  font-size: 4.5rem;
}

.tsm_success_time {
  font-size: 3.0rem;
  opacity: 0.5;
}

.tsm_topRight, .tsm_topLeft, .tsm_bottomLeft, .tsm_bottomRight {
  margin     : 0.1rem;
}

.tsm_border {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.tsm_topLeft {
  font-size  : 2.5rem;
  float      : left;
}

.tsm_topRight {
  font-size  : 2.0rem;
  float      : right;
  text-align : right;
  display    : block;
}

.tsm_translucent {
  opacity  : 0.4;
}

.tsm_bottomLeft {
  font-size: 3.5rem;
  float    : left;
  position : absolute;
  bottom   : 0;
}

.tsm_bottomRight {
  font-size  : 2.0rem;
  text-align : right;
  position   : absolute;
  right      : 1rem;
  bottom     : 0;
}