html, body, #tsm_agent_wrapper, #tsm_build_wrapper, #tsm_summary_wrapper {
  font-size       : 10px;
  background-color: #111;
  font-family     : sans-serif;
  color           : white;
  width           : 100%;
  margin          : 0;
  padding         : 0;
}

body {
  display       : flex;
  flex-direction: column;
}

.tsm_init {
  font-size : 4rem;
  text-align: center;
  padding   : 1rem;
}

@keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }
.dots span {
    animation: dots-1 1.5s infinite steps(1);
}
.dots span:first-child + span {
    animation-name: dots-2;
}
.dots span:first-child + span + span {
    animation-name: dots-3;
}

.tsm_whiteout {
  z-index         : 999;
  background-color: rgba(255,255,255,.5);
  position        : absolute;
  top             : 0;
  left            : 0;
  height          : 100%;
  width           : 100%;
}

.tsm_bigAlert {
  text-align      : center;
  color           : white;
  z-index         : 9999;
  font-size       : 3rem;
  padding         : 1.2rem;
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translateY(-50%) translateX(-50%);
  background-color: #c0392b;
  border          : 6px solid red;
  border-radius   : 3rem;
}

#tsm_agent_wrapper {
  display       : flex;
  flex-grow     : 0.15;
  height        : 15%;
  flex-direction: row;  
}
#tsm_build_wrapper {
  display       : flex;
  flex-grow     : 0.80;
  height        : 80%;
  flex-direction: column;
  overflow-x    : hidden;  
  overflow-y    : auto;  
}
#tsm_summary_wrapper {
  display       : flex;
  flex-grow     : 0.05;
  height        : 5%;
  flex-direction: row;  
}

/*
     Background divs
*/
#tsm_clock {
  text-align: right;
}
#tsm_summary {
  text-align: left;
}
.tsm_summary_text {
  padding    : 0 2rem;
  width      : 100%;
  font-weight: 300;
  font-size  : 2.5rem;
  color      : #bbb;
}
.tsm_green, .tsm_red, .tsm_orange, .tsm_gray {
  box-sizing   : border-box;
  padding      : 10px;
  margin       : 12px 12px;
  font-weight  : 300;
  position     : relative;
  border-radius: 10px;  
}
.tsm_green, .tsm_red, .tsm_orange, .tsm_gray {
  flex: 1;
}

.tsm_green {
  background: linear-gradient(to bottom, #4cab4c 0%,#327032 100%);
}

.tsm_red {
  background: linear-gradient(to bottom,  #c0392b 0%,#932222 100%);
}

.tsm_orange {
  background: linear-gradient(to bottom, #D6671E 0%,#8A3D0C 100%);
}

.tsm_gray {
  background: linear-gradient(to bottom,  #808080 0%,#5e5e5e 100%);
}

/*
     Text divs
*/

#tsm_success_msg, #tsm_success_time {
  text-align: center;
}

#tsm_success_msg {
  font-size: 4.5rem;
}

#tsm_success_time {
  font-size: 3.0rem;
  opacity  : 0.5;
}

.tsm_topRight, .tsm_topLeft, .tsm_bottomLeft, .tsm_bottomRight {
  margin     : 0.1rem;
}

.tsm_border {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.tsm_topLeft {
  font-size  : 2.5rem;
  float      : left;
}

.tsm_topRight {
  font-size  : 2.0rem;
  float      : right;
  text-align : right;
  display    : block;
}

.tsm_translucent {
  opacity  : 0.4;
}

.tsm_bottomLeft {
  font-size: 3.5rem;
  float    : left;
  position : absolute;
  bottom   : 0;
}

.tsm_bottomRight {
  font-size  : 2.0rem;
  text-align : right;
  position   : absolute;
  right      : 1rem;
  bottom     : 0;
}